<div class="container">

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show", @post, class:"btn btn-info"%> |
  <%= link_to "⬅️Back to blogs", posts_path, class:"btn btn-info"%>
</div>
</div>
